[Unit]
Description=asunabot
After=multi-user.target

[Service]
ExecStart=/usr/local/bin/python3.7 /home/ec2-user/asunabot.py --no-prompt
User=ec2-user
Group=ec2-user
Type=idle
Restart=always
RestartSec=2
RestartPreventExitStatus=0

[Install]
WantedBy=multi-user.target