aiohttp==1.0.5
async-timeout==3.0.0
attrs==18.2.0
certifi==2018.8.24
chardet==3.0.4
discord.py==0.16.12
idna==2.7
idna-ssl==1.1.0
multidict==4.4.2
requests==2.19.1
SQLAlchemy==1.2.12
urllib3==1.23
websockets==3.4
yarl==1.2.6