* {
  outline: none;
}

.view-container {
  position: relative;
  margin-top: 5rem;
}

.view-container > .main-view.ng-animate {
  position: absolute;
  top: 0;
  left:0;
  width:100%;
  min-height:500px;
}

@keyframes fadeIn {
  0%    { opacity: 0; }
  50%   { opacity: 0; }
  100%  { opacity: 1; }
}

@keyframes fadeOut {
  0%    { opacity: 1; }
  50%   { opacity: 0; }
  100%  { opacity: 0; }
}

.main-view.ng-enter           { animation: fadeIn 0.7s both linear; z-index: 888888;}
.main-view.ng-leave           { animation: fadeOut 0.7s both linear; z-index: 999999;}

.bg-transparent {
  background-color: transparent;
}

.borderless {
  border: none;
}

.btn.btn-corners {
  border-radius: 0;
}

.authcode-input {
   border: 0;
   outline-style:none;
   box-shadow:none;
   border-color:transparent;
   border-bottom: 2px solid #1976D2;
   width: 100%;
   font-size: 30px;
   line-height: 35px;
   height: 70px;
   text-align: center;
   padding: 10px;
   background: transparent;
   background-color: transparent;
   color: #EEEEEE;
   -webkit-border-radius: 0;
   border-radius: 0;
   -webkit-box-shadow: none;
   box-shadow: none;
   transition: all 0.5s;
}

.authcode-input:focus {
   outline: 0;
   outline-style:none;
   box-shadow:none;
   color: #FFFFFF;
   -webkit-apperance: none;
   -moz-appearance: none;
   background-color: transparent;
   border-bottom: 2px solid #1976D2;
}

.timestamp {
  font-size: 1rem;
}

.card {
  height: 100%;
}

.role-icon {
  display: inline-block;
  padding: 2px 7px 1px 7px;
  margin-left: 25px;
  margin-right: 25px;
  border: 1px solid gray;
  border-radius: 5px;
}

.hoverable:hover {
    background-color: #FAFAFA;
    cursor: pointer;
}
