# This is the root folder.
config.stopbubbling = true

# Prevents use of SneakyThrows, now a compilation error.
lombok.sneakyThrows.flagUsage = error

# Uses Spring @null annotations.
lombok.addNullAnnotations = spring

# Use the variable Is Prefix for boolean getters, not getFieldName.
# Allows for better readability. isActive() -> is much cleaner than getActive() or getIsActive.
# Requires terse boolean variables: success !isSuccess, active !isActive, otherwise the getters become
# isIsSuccess or getIsSuccess :(
lombok.getter.noisprefix = false
